section{
    padding-top: 40px;   
    padding-bottom: 40px; 
} 

.carousel-item img{
    width: 100%;
    height: 90%;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 40px;
    height: 40px;
}
.carousel-caption{
    background-color: rgb(3, 3, 3);
    width:100%;
    left: 0 !important;
    opacity: 0.7;
    color: white;
}
.menu-icon {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}
.card:hover{
    box-shadow: -1px 2px 18px #888888;
}
.bgimg{
    background-image: url(../img/Lighthouse.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 650px;
    width: 100%;
}
.headerset{
    padding-top: 240px;
    color: white;
    box-sizing: border-box;
    width: 100%;
}
.headerset h2{
    font-size: 38px;
    font-weight: bold;
}
.headerset h1{
    font-size: 78px;
    font-weight: bold;
}
@media(min-width:991px){

}
@media(min-width:768px) and (max-width:991px){
    
}
@media(min-width:575px) and (max-width:767px){
    
}
@media(min-width:480px) and (max-width:574px){
    
}
@media(max-width:479px){
    .headerset h2{
        font-size: 18px;
        font-weight: bold;
    }
    .headerset h1{
        font-size: 28px;
        font-weight: bold;
    }
}
